# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Open Liberty
src/main/liberty/config/logs/
src/main/liberty/config/bootstrap.properties


# IDEs
.classpath
.project
.settings/
.factorypath
*.launch
.idea/
*.iml
*.iws
*.ipr

# Kubernetes
kubernetes/
kubernetes-tm/

# OS
.DS_Store
Thumbs.db
