<?xml version="1.0" encoding="UTF-8"?>
<server description="Polla Copa Mundial 2026">

	<featureManager>
		<feature>jsf-2.3</feature>
		<feature>cdi-2.0</feature>
		<feature>ejbLite-3.2</feature>
		<feature>jpa-2.2</feature>
		<feature>jdbc-4.2</feature>
		<feature>jndi-1.0</feature>
		<feature>appSecurity-2.0</feature>
		<feature>servlet-4.0</feature>
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint" httpPort="9080"
		httpsPort="9443" />


	<dataSource jndiName="jdbc/polladb">
		<jdbcDriver libraryRef="jdbcLib" />
		<properties serverName="${db.host}" portNumber="${db.port}"
			databaseName="${db.name}" user="${db.user}" password="${db.password}" />
	</dataSource>
	<library id="jdbcLib">
		<file name="${server.config.dir}/postgresql-42.5.0.jar" />
	</library>



	<webApplication location="polla.war"
		contextRoot="/polla">
	</webApplication>

</server>
